<form method="post" action="{{ path('commandevente_delete', {'id': commandevente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commandevente.id) }}">
   <button class="btn btn-danger">Supprimer</button>
</form>
