{% extends 'base.html.twig' %}

{% block title %}Edit Cheque{% endblock %}

{% block body %}
    <h1>Edit Cheque</h1>

    {{ include('cheque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cheque_index') }}">back to list</a>

    {{ include('cheque/_delete_form.html.twig') }}
{% endblock %}
