{% extends 'base.html.twig' %}

{% block title %}New Commandeachat{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle commande</h1>

    {{ include('commandeachat/_form.html.twig') }}

    <a href="{{ path('commandeachat_index') }}">Revenir à la liste des commandes</a>
{% endblock %}
